@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-w-[320px] antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    @apply block max-w-full;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply break-words;
    hyphens: auto;
  }

  #__next {
    @apply isolate;
  }
}

@layer utilities {
  .small-caps {
    font-variant: small-caps;
  }
  .perspective-500 {
    perspective: 500px;
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .flipped {
    transform: rotateY(180deg);
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
}
